.certificates-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.certificate-body{
    height: 200px;
    width: 400px;
    background-color: #5802ecd3;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.certificate-title{
    height: 50%;
    width: 100%;
    background-color:#5902EC;
    border-radius: 13px 13px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}
.certificate-desc{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.certificate-desc p{
    color: rgba(255, 255, 255, 0.836);
}

@media only screen and (max-width: 600px) {
    .certificate-body{
        margin-top: 10px;
        width: 95%;
    }
}