.work-parent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.work-body{
    height: 120px;
    width: 500px;
    background-color: #4D77FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-name{
    color: white;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
    padding: 0%;
}
.work-place{
    padding: 0%;
    margin: 0%;
    color: rgba(255, 255, 255, 0.753);
    font-family: 'Rubik', sans-serif;
}
.work-degree{
    padding: 0%;
    margin-top: 7px;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-bottom: 0%;
}
.work-divider{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 2px;
    height: 40px;
    background-color: #4d77ffc2;
}
@media only screen and (max-width: 600px) {
    .work-body{
        width: 95%;
    }
    .work-name{
        font-size: 1.2rem;
    }
}